.officer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding: 20px;
}

.backLink {
  display: block;
  margin-bottom: 20px;
}

.officerForm {
  max-width: 600px;
}

.inputCheck {
  flex-direction: row;
}

.inputCheck label {
  margin-bottom: 0;
  margin-right: 10px;
}